{
  "openapi": "3.0.0",
  "info": {
    "title": "Nvisy API",
    "version": "1.0.0",
    "description": "AI-powered document redaction API for enterprise-scale security and compliance",
    "contact": {
      "name": "Nvisy Support",
      "email": "support@nvisy.com",
      "url": "https://nvisy.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.nvisy.com/v1",
      "description": "Production"
    },
    {
      "url": "https://api.staging.nvisy.com/v1",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/documents/redact": {
      "post": {
        "summary": "Redact a document",
        "description": "Upload and redact sensitive information from a document",
        "operationId": "redactDocument",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to redact"
                  },
                  "detection_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["pii", "phi", "financial", "custom"]
                    },
                    "description": "Types of sensitive information to detect"
                  },
                  "confidence_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0.8,
                    "description": "Minimum confidence score for detections"
                  },
                  "redaction_style": {
                    "type": "string",
                    "enum": ["black-box", "blur", "pixelate"],
                    "default": "black-box",
                    "description": "Visual style for redactions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document redacted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedactionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/documents/{documentId}": {
      "get": {
        "summary": "Get document details",
        "description": "Retrieve information about a processed document",
        "operationId": "getDocument",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The document ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a document",
        "description": "Delete a document and all associated data",
        "operationId": "deleteDocument",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The document ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Document deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/download": {
      "get": {
        "summary": "Download redacted document",
        "description": "Download the redacted version of a document",
        "operationId": "downloadDocument",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The document ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Redacted document file",
            "content": {
              "application/pdf": {},
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {}
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create a webhook",
        "description": "Register a webhook to receive redaction notifications",
        "operationId": "createWebhook",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API key authentication. Get your API key from the dashboard."
      }
    },
    "schemas": {
      "RedactionResult": {
        "type": "object",
        "properties": {
          "document_id": {
            "type": "string",
            "description": "Unique document identifier"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "processing", "failed"],
            "description": "Processing status"
          },
          "detections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Detection"
            }
          },
          "audit_trail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEntry"
            }
          },
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "Temporary URL to download redacted document"
          }
        }
      },
      "Detection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Detection identifier"
          },
          "type": {
            "type": "string",
            "enum": ["pii", "phi", "financial", "custom"],
            "description": "Type of sensitive information"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score"
          },
          "page": {
            "type": "integer",
            "description": "Page number where detected"
          },
          "text": {
            "type": "string",
            "description": "Detected text (masked)"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "processing", "failed"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "detections_count": {
            "type": "integer"
          }
        }
      },
      "AuditEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "action": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": ["url", "events"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook endpoint URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["redaction.completed", "redaction.failed", "document.uploaded"]
            },
            "description": "Events to subscribe to"
          },
          "secret": {
            "type": "string",
            "description": "Secret for signature verification"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
